# Multiple Regression

In [1]:
import pandas as pd
dataset=pd.read_csv("marks.csv")

In [2]:
dataset.head()

    name  college id  duration  marks  time before college  caff semester
0   abhi           1         2     40                   10   100    First
1   eric           1         4     50                   20   200   Second
2   jack           1         2      5                    5   400    Third
3   amit           1         2     50                   10    10    First
4  krish           1         4     60                   20   100   Second

# Feature Engineering

In [5]:
sem=dataset['semester']
sem

0     First
1    Second
2     Third
3     First
4    Second
Name: semester, dtype: object

In [6]:
sem_dummies=pd.get_dummies(sem)

In [7]:
sem_dummies

   First  Second  Third
0      1       0      0
1      0       1      0
2      0       0      1
3      1       0      0
4      0       1      0

In [11]:
final_sem=sem_dummies.iloc[:,0:2]
final_sem

   First  Second
0      1       0
1      0       1
2      0       0
3      1       0
4      0       1

In [12]:
dataset.columns

Index(['name', 'college id', 'duration', 'marks', 'time before college',
       'caff', 'semester'],
      dtype='object')

In [15]:
dataset=dataset[['college id', 'duration', 'marks', 'time before college',
       'caff']]

In [16]:
dataset[['First','Second']]=final_sem

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [17]:
dataset

   college id  duration  marks  time before college  caff  First  Second
0           1         2     40                   10   100      1       0
1           1         4     50                   20   200      0       1
2           1         2      5                    5   400      0       0
3           1         2     50                   10    10      1       0
4           1         4     60                   20   100      0       1

# Feature Extraction

# 1. Filter method

In [18]:
#corr
dataset.corr()

,college id,duration,marks,time before college,caff,First,Second
college id,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration,NaN,1.000000,0.599145,0.952579,-0.073488,-0.666667,1.000000
marks,NaN,0.599145,1.000000,0.803685,-0.842077,0.171184,0.599145
time before college,NaN,0.952579,0.803685,1.000000,-0.357518,-0.408248,0.952579
caff,NaN,-0.073488,-0.842077,-0.357518,1.000000,-0.655271,-0.073488
First,NaN,-0.666667,0.171184,-0.408248,-0.655271,1.000000,-0.666667
Second,NaN,1.000000,0.599145,0.952579,-0.073488,-0.666667,1.000000

In [19]:
# Variance Threshold(for constant variable)
from sklearn.feature_selection import VarianceThreshold
s=VarianceThreshold(threshold=0)
s.fit(dataset)

VarianceThreshold(threshold=0)

In [20]:
s.get_support()

array([False,  True,  True,  True,  True,  True,  True])

# 2. Embedded Method

In [22]:
# Weight or coefficient method
y=dataset["marks"]
y

0    40
1    50
2     5
3    50
4    60
Name: marks, dtype: int64

In [23]:
dataset.columns

Index(['duration', 'marks', 'time before college', 'caff', 'First', 'Second'], dtype='object')

In [24]:
x=dataset[['duration','time before college', 'caff', 'First', 'Second']]
x

   duration  time before college  caff  First  Second
0         2                   10   100      1       0
1         4                   20   200      0       1
2         2                    5   400      0       0
3         2                   10    10      1       0
4         4                   20   100      0       1

In [25]:
from sklearn.linear_model import LinearRegression
model= LinearRegression()
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
weight=model.coef_
weight

array([ 1.88078749,  1.27032916, -0.10497238, -2.5671154 ,  0.94039374])

In [29]:
# l2 regularization
from sklearn.linear_model import Lasso

In [30]:
from sklearn.feature_selection import SelectFromModel

In [31]:
sel=SelectFromModel(Lasso(alpha=.01))
sel.fit(x,y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.3840460180503952, tolerance: 0.182
  positive)

SelectFromModel(estimator=Lasso(alpha=0.01, copy_X=True, fit_intercept=True,
                                max_iter=1000, normalize=False, positive=False,
                                precompute=False, random_state=None,
                                selection='cyclic', tol=0.0001,
                                warm_start=False),
                max_features=None, norm_order=1, prefit=False, threshold=None)

In [32]:
sel.get_support()

array([ True,  True,  True,  True, False])

# Train_test_split

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

# Creating model

In [35]:
from sklearn.linear_model import LinearRegression
model= LinearRegression()
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Prediction on test data

In [36]:
y_pred=model.predict(x_test)

In [37]:
y_pred

array([49.75138122])

In [38]:
y_test

1    50
Name: marks, dtype: int64